<style>
    #map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
<div id="map"></div>

<button class="w3-button w3-round w3-white w3-border" ng-style="btnGrafik" ng-click="showHideGrafik()">Lihat Grafik</button>

<div ng-style="grafikContainer">
    <grafik-container markers="$ctrl.markers" marker-id-count="$ctrl.markerIdCount" remove-marker="$ctrl.removeMarker(idToRemove)"
        id-tab-want-to-open="$ctrl.idTabWantToOpen"></grafik-container>
</div>